@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-primary: 'Krona One', sans-serif;
}

/* Dark Mode Variables */
@media (prefers-color-scheme: dark) {
	:root {
		--background: #1d1d1d;
		--color-primary: #f6ffc9;
		--color-secondary: #7b60fb;
		--color-abysmal: #1a1a1a;
		--color-white: #fff;

		--color--ivory: #fffff0;

		--color-font-primary: var(--color-primary);
		--color-font-secondary: var(--color-secondary);
		--color-font-neutral: var(--color--ivory);
		--color-font-neutral-contrast: var(--color-abysmal);
	}
}

/* Global Styles */
* {
	box-sizing: border-box;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: var(--color-font-neutral);
	background-color: var(--background);
	scrollbar-width: 0px;
	-ms-overflow-style: none;
	/* perspective: 100px; */
}

.font-krona {
	font-family: var(--font-krona-one);
}

.font-clash {
	font-family: var(--font-clash-display);
}

/* Hide Scrollbar */
body::-webkit-scrollbar,
::-webkit-scrollbar {
	/* display: none; */
}

/* Custom Utilities */
@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/* Font Face */
@font-face {
	font-family: '851Gkktt';
	src: url('/font/851Gkktt.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Custom Components */
@layer components {
	.overall-ctn {
		@apply relative overflow-y-scroll w-full h-full max-h-[100dvh] max-w-[100dvw];
	}

	.menu-btn-underlay {
		z-index: -1;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		/* width: 100%; */
		pointer-events: none;
		background-color: var(--color-secondary);
	}

	.logo-name {
		backdrop-filter: blur(10px);
		mix-blend-mode: color-burn;
		isolation: isolate;
	}

	.position {
		font-size: 10dvw;
	}
}
