@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark Mode Variables */
@media (prefers-color-scheme: dark) {
	:root {
		--background: #1d1d1d;
		--color-primary: #f6ffc9;
		--color-secondary: #7b60fb;
		--color-abysmal: #1a1a1a;
		--color-white: #fff;
		--color-neon-green: #25fea8;
		--color-neon-yellow: #e8fe25;

		--color--ivory: #fffff0;
		--color-mayonnaise: #ffffde;

		--color-font-primary: var(--color-primary);
		--color-font-secondary: var(--color-secondary);

		--color-font-neutral: var(--color-mayonnaise);
		--color-font-neutral-contrast: var(--color-abysmal);
		--color-font-highlight: var(--color-neon-yellow);

		--color-bg-primary: var(--color-neon-green);
		--color-bg-neutral: var(--color-mayonnaise);
		--color-bg-neutral-contrast: var(--color-abysmal);

		--color-border-primary: var(--color-neon-green);
		--color-border-neutral: var(--color-mayonnaise);
		--color-border-neutral-contrast: var(--color-abysmal);

		--font-base: 0.8333vw;
	}
}

/* Global Styles */
* {
	box-sizing: border-box;
}

html {
	font-size: calc(0.8333vw);
}

span {
	font-size: max(1em, 14px);
}

h1 > span,
h2 > span,
h3 > span,
h4 > span,
h5 > span,
h6 > span,
a > span,
button > span {
	font-size: max(1em, 18px);
}

nav p > span,
nav a > span,
nav button > span {
	font-size: max(1em, 14px);
}

/* nav #nav-open-btn-ctn * {
	font-size: max(1em, 14px);
} */

@media screen and (max-width: 300px) {
	html {
		/* font-size: 2.4999px; */
	}
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: var(--color-font-neutral);
	background-color: var(--background);
	scrollbar-width: 0px;
	-ms-overflow-style: none;
}

/* safari fix */
a {
	cursor: pointer;
}

html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-scrolling iframe {
	pointer-events: none;
}

.font-krona {
	font-family: var(--font-krona-one);
}

.font-clash {
	font-family: var(--font-clash-display);
}

.font-boxing {
	font-family: var(--font-boxing);
}

.font-satoshi {
	font-family: var(--font-satoshi);
}

/* Hide Scrollbar */
body::-webkit-scrollbar,
::-webkit-scrollbar {
	display: none;
}

/* Custom Utilities */
@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/* Font Face */
@font-face {
	font-family: '851Gkktt';
	src: url('/font/851Gkktt.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@layer components {
	main canvas {
		-webkit-mask-image: url('/frame/star.c9387850.svg');
		mask-image: url('/frame/star.c9387850.svg');
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-position: center center;
		mask-position: center center;
		mask-size: 0rem;
		touch-action: none;
		pointer-events: none;
	}

	#loader-ctn {
		cursor: progress;
	}
}
